In [1]:
import pandas as pd
nba = pd.read_csv("../_datasets/NBA player stats 2023-24.csv")
nba.head()

,RANK,NAME,TEAM,POS,AGE,GP,MPG,USG%,TO%,FTA,...,APG,SPG,BPG,TPG,P+R,P+A,P+R+A,VI,ORtg,DRtg
0,NaN,Joel Embiid,Phi,C,30.2,6,41.4,35.7,15.8,78,...,5.7,1.2,1.5,4.2,43.8,38.7,49.5,12.2,117.1,108.0
1,NaN,Jalen Brunson,Nyk,G,27.8,13,39.8,36.4,9.3,120,...,7.5,0.8,0.2,2.7,35.7,39.8,43.2,9.3,114.8,114.7
2,NaN,Damian Lillard,Mil,G,33.9,4,39.1,31.4,10.0,38,...,5.0,1.0,0.0,2.3,34.5,36.3,39.5,8.2,127.6,115.7
3,NaN,Shai Gilgeous-Alexander,Okc,G,25.9,10,39.9,32.3,8.9,81,...,6.4,1.3,1.7,2.2,37.4,36.6,43.8,11.2,118.3,106.9
4,NaN,Tyrese Maxey,Phi,G,23.6,6,44.6,28.1,8.6,28,...,6.8,0.8,0.3,2.2,35.0,36.7,41.8,9.1,120.9,113.3

In [2]:
nba = nba[["NAME", "POS"]]
nba.head(10)

                      NAME POS
0              Joel Embiid   C
1            Jalen Brunson   G
2           Damian Lillard   G
3  Shai Gilgeous-Alexander   G
4             Tyrese Maxey   G
5         Donovan Mitchell   G
6              Luka Doncic   G
7             Nikola Jokic   C
8             LeBron James   F
9            Anthony Davis   C

In [3]:
dum1 = pd.get_dummies(nba, columns=["POS"])
dum1.head(10)

,NAME,POS_C,POS_C-F,POS_F,POS_F-C,POS_F-G,POS_G,POS_G-F
0,Joel Embiid,1,0,0,0,0,0,0
1,Jalen Brunson,0,0,0,0,0,1,0
2,Damian Lillard,0,0,0,0,0,1,0
3,Shai Gilgeous-Alexander,0,0,0,0,0,1,0
4,Tyrese Maxey,0,0,0,0,0,1,0
5,Donovan Mitchell,0,0,0,0,0,1,0
6,Luka Doncic,0,0,0,0,0,1,0
7,Nikola Jokic,1,0,0,0,0,0,0
8,LeBron James,0,0,1,0,0,0,0
9,Anthony Davis,1,0,0,0,0,0,0

In [4]:
dum2 = nba["POS"].str.get_dummies("-")  # split on hyphen
dum2.head(10)

   C  F  G
0  1  0  0
1  0  0  1
2  0  0  1
3  0  0  1
4  0  0  1
5  0  0  1
6  0  0  1
7  1  0  0
8  0  1  0
9  1  0  0

In [5]:
nba = pd.concat([nba, dum2], axis="columns")
nba.head(10)

                      NAME POS  C  F  G
0              Joel Embiid   C  1  0  0
1            Jalen Brunson   G  0  0  1
2           Damian Lillard   G  0  0  1
3  Shai Gilgeous-Alexander   G  0  0  1
4             Tyrese Maxey   G  0  0  1
5         Donovan Mitchell   G  0  0  1
6              Luka Doncic   G  0  0  1
7             Nikola Jokic   C  1  0  0
8             LeBron James   F  0  1  0
9            Anthony Davis   C  1  0  0